In [1]:
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
from scipy.stats import zscore
from sklearn.preprocessing import Imputer
from sklearn.metrics import accuracy_score
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt   
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
import os
os.chdir('C:/Users/ASHISH/Desktop/CLASSIFICATION-SUPERVISED LEARNING/DOWNLOADED/Supervised learning practice problems/KNN')

In [4]:
traindf = pd.read_excel('loantrain.xlsx')
testdf = pd.read_csv('loantest.csv')

In [5]:
traindf

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LID001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LID001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LID001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LID001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LID001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LID001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LID001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LID001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LID001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LID001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LID001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LID001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LID001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LID001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LID001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LID001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LID001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LID001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LID001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LID001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LID001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LID001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LID001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LID001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LID001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LID001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LID001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LID001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LID001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LID001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LID002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LID002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LID002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LID002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LID002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LID002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LID002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LID002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LID002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LID002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LID002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LID002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LID002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LID002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LID002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LID002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LID002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LID002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LID002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LID002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LID002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LID002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LID002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LID002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LID002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LID002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LID002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LID002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LID002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LID002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [6]:
testdf

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LID001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LID001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LID001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LID001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LID001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,LID001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,LID001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,LID001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,LID001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,LID001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,LID001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,LID001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,LID001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,LID001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,LID001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,LID001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,LID001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,LID001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,LID001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,LID001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,LID001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,LID001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,LID001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,LID001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,LID001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,LID001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,LID001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,LID001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,LID001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,LID001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
337,LID002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,LID002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,LID002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,LID002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,LID002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,LID002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,LID002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,LID002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,LID002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,LID002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,LID002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,LID002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,LID002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,LID002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,LID002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,LID002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,LID002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,LID002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,LID002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,LID002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,LID002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,LID002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,LID002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,LID002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,LID002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,LID002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LID002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LID002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LID002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LID002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [7]:
traindf.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [8]:
testdf.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

In [19]:
traindf['Loan_Status'] = traindf.Loan_Status.astype('category')
traindf['Gender'] = traindf.Gender.astype('category')
traindf.dtypes

Loan_ID                object
Gender               category
Married                object
Dependents             object
Education              object
Self_Employed          object
ApplicantIncome         int64
CoapplicantIncome     float64
LoanAmount            float64
Loan_Amount_Term      float64
Credit_History        float64
Property_Area          object
Loan_Status          category
dtype: object

In [20]:
traindf.describe().T

,count,mean,std,min,25%,50%,75%,max
ApplicantIncome,614.0,5403.459283,6109.041673,150.0,2877.5,3812.5,5795.00,81000.0
CoapplicantIncome,614.0,1621.245798,2926.248369,0.0,0.0,1188.5,2297.25,41667.0
LoanAmount,592.0,146.412162,85.587325,9.0,100.0,128.0,168.00,700.0
Loan_Amount_Term,600.0,342.000000,65.120410,12.0,360.0,360.0,360.00,480.0
Credit_History,564.0,0.842199,0.364878,0.0,1.0,1.0,1.00,1.0

In [21]:
traindf.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LID001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LID001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LID001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LID001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LID001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [22]:
testdf.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [29]:
testdf

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
5,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
6,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
7,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
8,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
9,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
10,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
11,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
12,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
13,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
14,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
15,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
16,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
17,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
18,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
19,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
20,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
21,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
22,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
23,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
24,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
25,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
26,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
27,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
28,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
29,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
337,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
339,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
340,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
341,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
343,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
344,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
345,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
346,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
347,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
348,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
349,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
350,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
351,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
352,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
353,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
355,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
356,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
357,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
358,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
359,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
360,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
361,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [30]:
traindf

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LID001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LID001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LID001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LID001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LID001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LID001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LID001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LID001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LID001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LID001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LID001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LID001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LID001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LID001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LID001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LID001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LID001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LID001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LID001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LID001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LID001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LID001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LID001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LID001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LID001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LID001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LID001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LID001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LID001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LID001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LID002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LID002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LID002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LID002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LID002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LID002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LID002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LID002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LID002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LID002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LID002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LID002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LID002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LID002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LID002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LID002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LID002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LID002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LID002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LID002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LID002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LID002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LID002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LID002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LID002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LID002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LID002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LID002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LID002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LID002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [31]:
traindffeature = traindf.drop(labels= "Loan_Status" , axis = 1)

In [32]:
traindffeature

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LID001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LID001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LID001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LID001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LID001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,LID001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban
6,LID001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban
7,LID001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban
8,LID001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban
9,LID001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
10,LID001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban
11,LID001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban
12,LID001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban
13,LID001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural
14,LID001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban
15,LID001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban
16,LID001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban
17,LID001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban
18,LID001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
19,LID001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban
20,LID001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban
21,LID001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban
22,LID001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban
23,LID001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural
24,LID001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban
25,LID001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban
26,LID001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban
27,LID001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban
28,LID001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban
29,LID001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban
...,...,...,...,...,...,...,...,...,...,...,...,...
584,LID002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural
585,LID002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural
586,LID002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban
587,LID002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban
588,LID002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban
589,LID002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban
590,LID002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban
591,LID002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban
592,LID002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban
593,LID002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural
594,LID002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban
595,LID002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural
596,LID002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural
597,LID002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban
598,LID002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural
599,LID002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban
600,LID002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban
601,LID002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural
602,LID002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban
603,LID002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural
604,LID002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban
605,LID002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban
606,LID002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban
607,LID002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural
608,LID002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural
609,LID002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural
610,LID002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural
611,LID002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban
612,LID002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban
613,LID002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban

In [33]:
traindffeaturez = traindffeature.apply(zscore)

TypeError: ("unsupported operand type(s) for /: 'str' and 'int'", 'occurred at index Loan_ID')